<app-nav-index></app-nav-index>
<body>
   <div class="home" id="home">
     <img src="../assets/img/skate28.jpg" alt="bg-img">
   <div class="container">
        
         <h1 class="welcome">welcome .</h1>
         
         <p class="small-intro-1"> a new skating world  you can fall in love with ... 
         
       </p>
       <p class="small-intro-2">trust the process and start the journey now ... 
       </p> 
         <a class="btn" routerLink="/signin" routerLinkActive="active"> star now </a> 


   </div>
</div>
<!-- features starts here -->
<section class="features" id="services">
   <h1 class="features-title">our services</h1>
   <div class="box-container">
     <div class="box">
       <img src="../assets/img/skateboard.png" alt="image">
       <h3>gear up</h3>
     </div>
     <div class="box">
       <img src="../assets/img/people.png" alt="">
       <h3>discover nex people</h3>
     </div>
     <div class="box">
       <img src="../assets/img/event.png" alt="">
       <h3>know the events</h3>
     </div>
     <div class="box">
       <img src="../assets/img/profit.png" alt="">
       <h3>make a profit</h3>
     </div>
   </div>
 </section>
 
 <!-- about us  starts here -->
 <section class="about-us" id="about-us" >
   <div class="image">
     <img src="../assets/img/skate35.png" alt="">
   </div>
   <div class="content">
     <h3>about us </h3>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis beatae impedit nihil iste sequi eius veniam temporibus commodi eligendi eveniet eaque, doloremque, quo nam nulla dolore similique? Doloribus, in error!</p>
     <a href="" class="btn">read more</a>
   </div>
 </section>
 
 
 <!-- about us ends here -->
 
 
  <div class="get-started" id="sign-up">
   <div class="content">
     <h3> get started now ! </h3>
     <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias, necessitatibus atque. Quos rem nostrum beatae est quidem natus inventore et dolor, laudantium numquam, reprehenderit iure repudiandae expedita voluptatibus mollitia soluta!</p>
     <a routerLink="/signin" routerLinkActive="active" class="btn"> sign up </a>
   </div> 
  </div>
</body>
 