<app-nav></app-nav>
<body>
   

<div class="input-group">
   <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
   <button type="button" class="btn btn-outline-primary">search</button>
 </div>

 <div class="latest-products">
   <div class="container">
      <div class="home-bg-img">
      <img src="../assets/img/skate28.jpg" class="bg-img" >
   </div>
         <h1 class="products-header">latest products</h1>
         <div class="products-sort">
            <a class="btn " href=""> all </a> 
            <a class="btn " href=""> skates </a> 
            <a class="btn " href=""> safety</a> 
            <a class="btn " href=""> clothes </a>
         </div>

         
         <div class="products-samples">
            
            <div class="products-sample">
               <img src="../assets/img/skate39.jpg" alt="">
               <h3><a routerLink="/product" routerLinkActive="active-link">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate40.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">  add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate58.jpg" alt="kljkl">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">  add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate42.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">  add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate43.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">  add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate44.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add">  add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate45.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add"> add to cart </a>
            </div>
            <div class="products-sample">
               <img src="../assets/img/skate50.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn add"> add to cart </a>
            </div>

            <div class="products-sample">
               <img src="../assets/img/skate41.jpg" alt="">
               <h3><a href="">product 1</a></h3>
               <p class="price">55 DT</p>
               <a href="" class="btn "> add to cart </a>
            </div>
            <p class="see-more btn"> <a  routerLink="/products" routerLinkActive="active"> see more</a> </p>
         </div>

         <div class="latest-events">
            <div class="container">
                  <h1 class="latest-events-header">latest-events</h1>
                  <div class="events-samples">
   
                     <div class="event">
                        <img src="../assets/img/skate22.jpg" alt="">
                        <div class="event-text">
                        <h3 >event</h3>
                        <p class="price">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ipsa voluptatum illo laborum animi repellendus! Ab explicabo, reprehenderit ipsum temporibus atque, consectetur, laborum iure eum voluptates dolores vero ex distinctio.</p>
                        <a routerLink="/event" routerLinkActive="active" class="btn add">visit event </a>
                        </div>
                     </div>
   
                     <div class="event">
                        <img src="../assets/img/skate25.jpg" alt="">
                        <div class="event-text">
                        <h3 >event</h3>
                        <p class="price">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo ipsa voluptatum illo laborum animi repellendus! Ab explicabo, reprehenderit ipsum temporibus atque, consectetur, laborum iure eum voluptates dolores vero ex distinctio.</p>
                        <a routerLink="/event" routerLinkActive="active" class="btn ">visit event </a>
                        </div>
                     </div>
   
                      <a class="btn check" href=""> check our events</a> 
   
   
                  </div>

                  <div class="communities">
                     <div class="container">
                           <h1 class="communities-header">communities</h1>
                           <div class="community-samples">
                              <div class="community">
                                 <img src="../assets/img/skate2.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn "> follow </a>
                                 </div>
                            
            
                              <div class="community">
                                 <img src="../assets/img/skate5.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn "> follow </a>
                                 </div>
                            
            
                              <div class="community">
                                 <img src="../assets/img/skate7.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn"> follow </a>
                                 </div>
                             
                              <div class="community">
                                 <img src="../assets/img/skate11.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn ">follow </a>
                                 </div>
                              
                              <div class="community">
                                 <img src="../assets/img/skate15.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn "> follow </a>
                                 </div>
                             
                              <div class="community">
                                 <img src="../assets/img/skate21.jpg" alt="">
                                 <h3 >com1</h3>
                                 <a href="" class="btn "> follow </a>
                                 </div>
                              </div>
                
                           </div>
            
                 
                 
                     </div>
                 
   
        
        
            </div>
         </div>



   </div>
</div>

</body>
