<app-nav></app-nav>
<body>
   
<div class="img">
<img src="../assets/img/skate5.jpg" alt="event-image">
</div>
<div class="container">
   <h1 class="event-title">event title</h1>
   <h2 class="event-date">18 dec</h2>
   <p class="event-des">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam eius eaque ullam autem modi? Totam sequi excepturi mollitia iste sapiente quod minus, nisi voluptatum sit aliquid eos sint animi soluta? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis perferendis eaque repellendus a possimus recusandae, aliquam adipisci quasi quos nemo ipsa tenetur. Quaerat, provident ipsum. Consequatur molestiae ratione itaque repellat.</p>
   <p class="event-des"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero hic reprehenderit nostrum aliquid, laboriosam deleniti impedit! Quas ipsam cupiditate, cum et error porro quisquam? Possimus cum culpa numquam dolores tenetur.  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, officia reprehenderit odit nisi id, omnis totam nobis cumque, praesentium eveniet quidem repellat excepturi esse incidunt provident saepe neque officiis libero.</p>
</div>
<a routerLink="/events" routerLinkActive="active-link" class="back-events btn"> back to events </a>
</body>