<body>
   <h1 class="logo"><a href="">Skatini</a></h1>
  <div class="container">
     <div class="login-container">
        <form #loginform="ngForm" >  
           <img src="../assets/img/skate36.png" class="avatar">
           <h2>access your account </h2>
          
          
           <div class="input-div one ">
              <div class="i">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  class="bi bi-person-check" viewBox="0 0 16 16">
                  <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                </svg>
               </div>
               
               <div>
                 <h5>username</h5>
                 <input type="text" class="input" 
                  required 
                  ngModel 
                  name="name"
                  #name='ngModel'
                  pattern="^[A-Za-z][A-Za-z0-9_]{7,29}$" 
                  >
               </div>
           </div>
           <p class="alert" *ngIf="!name.valid && name.touched ">--name mut start with a letter , no characters , 8 length minimun --</p>

          
          
           <div class="input-div two">
               <div class="i">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                     <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                     <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                   </svg>
               </div>
               
               <div>
                  <h5>Password</h5>
                  <input type="password" class="input" 
                  required
                  ngModel 
                  name="password"
                  #password='ngModel'>
               </div>

            </div>

            <a class="forgot" href="" >Forgot password ?</a>

          <!--submit button -->
           <button class=" btn" [disabled]="!loginform.valid">
            <a routerLink="/home" routerLinkActive="active" class="login-btn" > login
            </a>
         </button>
          <!--submit button --> 

            
            <a  class="signup" routerLink="/signin" routerLinkActive="active" >dont have an account ? sign up </a>
        </form>
     </div>
  </div>
</body>
