<app-nav></app-nav>
<body>
<img src="../assets/img/shop2.png"  class="shop-img" alt="shop-img">
   <div class="commander ">
      <div class="commander-header">pass_your_command_here </div>
      <div class="container">
           <div class="name">
              <div class="input">
                  <h3>first name</h3>
                  <input type="text" required placeholder="first name">
               </div>
               <div class="input">
                  <h3>last name</h3>
                  <input type="text" required placeholder="last name" >
               </div>
           </div>
           <div class="phone">
            <div class="input">
               <h3>phone number </h3>
               <input type="text" required placeholder="00-000-000" >
            </div>
           </div>
           <div class="adress">
            <h3>adress </h3>
            <textarea name="adress" id="adress" cols="79" rows="5"></textarea>
           </div>
           <div class="region">
            <h3>region</h3>
            <select name="ville" id="ville" required>
               <option value="sfax">sfax</option>
               <option value="manouba">manouba</option>
               <option value="ben arous">ben arous</option>
               <option value="beja">beja</option>
               <option value="kef">kef</option>
               <option value="tunis">tunis</option>
               <option value="nabel">nabel</option>
            </select>
           </div>
           <a href="" class="btn register" id="register"> register</a>
          
  
  
      </div>
   </div>
   </body>