<app-nav></app-nav>
<body>
   <h2 class="event-headline"> all_events</h2>
   <div class="all-events">
      <div class="event">
         <img src="../assets/img/skate1.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 1 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      <div class="event">
         <img src="../assets/img/skate13.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 2 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      <div class="event">
         <img src="../assets/img/skate8.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 3 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      <div class="event">
         <img src="../assets/img/skate5.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 4 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      <div class="event">
         <img src="../assets/img/skate3.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 5 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      <div class="event">
         <img src="../assets/img/skate2.jpg" alt="" class="event-img">
         <div class="event-des">
            <h2 class="event-name">event 6 </h2>
            <p class="event-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rem illum sequi error, nesciunt et fugit sapiente deleniti facilis, consectetur quae odio ipsam laborum. Similique consequuntur vero neque exercitationem quas.</p>
            <p class="event-date">18 dec</p>
            <a routerLink="/event" routerLinkActive="active-link" class="see-event btn"> see event</a>
         </div>
      </div>
      
      
   </div>
</body>
